<div class="text-center">
    <h1 class="display-4">Order Placed!</h1>
    <p>Thanks for your order!</p>
</div>
<div class="form-group">
    <a asp-action="Index" asp-controller="Product" class="btn btn-primary">Back to Products</a>
</div>
